<h3 id="linux">Linux</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.

<div class="row-fluid">
<ol>
<li><b>OpenRefine</b>
  <br>OpenRefine (previously Google Refine) is a tool for data cleaning that runs
  through a web browser, and any browser - Safari, Firefox, Chrome, Explorer -
  should work fine.  You will need to download Google Refine and install it, and
  when you open it, it will run through the browser, but you don't need an
  internet connection, and the data will all be stored on your computer.
  <ul>
    <li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download
	page</a>
    <li>Click on <i>Linux kit</i> to download the install file
    <li>Download and extract
    <li>Type <code>./refine</code> in your terminal and Google Refine will then
    open in your web browser.
    <li>If it doesn't open automatically, open a web broswer after you've started
      the program and go to the URL <code>http://localhost:3333</code> and you should
      see OpenRefine.
  </ul>

<p>
<li><b>Python</b>
<br>In the workshop, we will use Anaconda Python version 3. The Anaconda distribution of Pythom makes managing and installing
  packages very straightforward.

	<ol>
        <li>Open <a href="http://continuum.io/downloads">http://continuum.io/downloads</a> with your web browser.</li>
        <li>Download the Python 3 installer for Linux.</li>
        <li>Install Python 3 using all of the defaults for installation <em>except</em> make sure to check <strong>Make Anaconda the default Python</strong>.</li>
      </ol>

<p>

  <li><b>SQLite</b>
    <br>
    For this workshop we're going to use the Firefox SQLite Plugin. It works through
    the web browser Firefox.
    <ul>
      <li>If you don't already have Firefox installed
	<a href="https://www.mozilla.org/en-US/firefox/new/">install Firefox</a>
      <li>Start Firefox
      <li>Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">plugin homepage</a>.
      <li> Click the "Add Now" button.
      <li> Click "Install Now" on the dialog that appears after the download completes.
      <li> Restart Firefox when prompted.
      <li> Select "SQLite Manager" from the "Tools" menu and it will open within Firefox
    </ul>
</ol>

</div>
