<h3 id="windows">Windows</h3>
<div class="row-fluid">

<br>In the workshop, we will use Anaconda Python version 3. The Anaconda distribution of Pythom makes managing and installing
  packages very straightforward.

<a href="https://www.youtube.com/watch?v=xxQ0mzZ8UvA">Video Tutorial</a>
<ol>
  <li>Open <a href="http://continuum.io/downloads">http://continuum.io/downloads</a> with your web browser.</li>
  <li>Download the Python 3 installer for Windows.</li>
  <li>Install Python 3 using all of the defaults for installation <em>except</em> make sure to check <strong>Make Anaconda the default Python</strong>.</li>
</ol>
</div>
